.expenseList h1 {
    display: inline;
}

.expenseList table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

.expenseList th, .expenseList td {
    padding: 4px;
}

.expenseList thead th {
    border: 2px solid black;
    text-align: left;
}

.expenseList thead th:nth-child(1) {
    width: 20%;
}

.expenseList thead th:nth-child(2) {
    width: 40%;
}

.expenseList thead th:nth-child(3) {
    width: 20%;
}

.expenseList thead th:nth-child(4) {
    width: 10%;
}

.expenseList thead th:nth-child(5) {
    width: 10%;
}

.expenseList td {
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: right;
}

.expenseList tfoot {
    border: 2px solid black;
}

.expenseList tfoot td {
    border: none;
}

.expenseList tfoot td:nth-child(3) {
    border: 2px solid black;
}