.allocationList h1 {
    display: inline;
}

.allocationList table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

.allocationList th, .allocationList td {
    padding: 4px;
}

.allocationList thead th {
    border: 2px solid black;
    text-align: left;
}

.allocationList thead th:nth-child(1) {
    width: 20%;
}

.allocationList thead th:nth-child(2) {
    width: 20%;
}

.allocationList thead th:nth-child(3) {
    width: 20%;
}

.allocationList thead th:nth-child(4) {
    width: 20%;
}

.allocationList thead th:nth-child(5) {
    width: 10%;
}

.allocationList thead th:nth-child(6) {
    width: 10%;
}

.allocationList td {
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: right;
}

.allocationList tfoot {
    border: 2px solid black;
}

.allocationList tfoot td:nth-child(5), .allocationList tfoot td:nth-child(6) {
    border: none;
}